* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}

#hamburger {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 40px;
  width: 50px;
  gap: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
}
.bar {
  height: 6px;
  width: 35px;
  background-color: #676767;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.positive {
  transform: translateY(10px) rotate(45deg);
}
.negative {
  transform: translateY(-10px) rotate(-45deg);
}
.nothing {
  transform: rotate(315deg);
}

.new {
  width: 80%;
  height: 3rem;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.new p {
  color: black;
  font-weight: 400;
  font-size: 1.3rem;
}
.new img{
    width: 2rem;
    height: 2rem;
}
.page {
  position: absolute;
  right: 0;
  height: 100%;
  width: 25rem;
  background-color: transparent;
  z-index: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  clip-path: circle(30px at calc(100% - 2.6rem) 36px);
  transition: 0.3s all ease;
}

.active {
  clip-path: circle(100%);
  background-color: #f4ce14;
}
main {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 400px;
  height: 500px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.controls {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 10px;
}
.cover {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.cover img {
  height: 200px;
  width: 200px;
  border-radius: 25px;
  box-shadow: 20px 20px 80px #00000056, inset -20px -20px 60px #cfd9df;
}
#progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.songInfo {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playedTime,
.duration {
  margin: 0 2.5rem;
  position: relative;
  padding-bottom: 1.2rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #cfd9df;
}
#name {
  width: 100%;
  height: 3rem;
}
#name p {
  text-align: center;
  color: rgb(55, 55, 55);
  font-size: 1.5rem;
}
input[type="range"] {
  width: 80%;
  outline: none;
  cursor: pointer;
}
.controls img {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

/* Progress Bar  */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 20rem;
}
canvas {
  height: 100px;
  background-color: transparent;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #cfd9df;
  border-radius: 0.5rem;
  height: 0.5rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -8px;
  background-color: #f4ce14;
  height: 1.5rem;
  width: 1rem;
  border-radius: 0.5rem;
}

/* Responsive Code */
@media screen and (width<=600px) {
  main {
    width: 100%;
    height: 100%;
  }
  .box {
    width: 350px;
    height: 500px;
  }
  input[type="range"] {
    width: 80%;
  }
  .page {
    width: 100%;
    height: 100%;
  }
}
